<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Un GranPy qui vous donne des anecdotes quand vous demandez une adresse">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/custom.css') }}" />
    <title>GrandPy Bot</title>

  </head>

  <body>
      <header>
        <div class="container-fluid">
          <div class="row" id="title">
            <div class="col-2" id="img_papybot">
              <img class="rounded-circle" src="{{ url_for('static', filename='img/papybot.png') }}" alt="papybot"/>
            </div>
            <div class="col-8 col-xs-10 align-self-center text-center" id="title_page">
                <h1>GrandPy Bot</h1>
                <h2>Tu veux une anecdote?</h2>
            </div>
          </div>
          <div class="row mt-3" id="form">
            <form class="form-inline mx-auto">
              <textarea name="question" id="query" placeholder="Votre question à GrandPy ici" rows="2" cols="35" required></textarea>
              <span id="loading"></span>
            </form>
          </div>
        </div>
      </header>

      <section>
        <div class="container" id="all_dialogue">
          <div id="top"></div>
          <div class="dialogue"></div>
          <div class="row alert alert-primary" >
            <div class="col-xs-8 col-xs-offset-2" id="presentation">
              <p class = "text-center">{{presentation}}</p>
            </div>
          </div>
        </div>
      </section>

      <footer class="footer">
        <div class="container text-center">
          <div class="row">
            <div id="footerText" class="col-10">
              <p>Projet 7 Cursus Python Openclassrooms</p>
              <p>Maylis Baschet / Novembre 2019</p>
            </div>
            <div id="footerLogos" class="col-2 align-self-center">
              <a href="https://github.com/MayBaMay/GPB_P7"
                 target=" _blank" title="lien vers repo GitGub">
                  <img src="{{ url_for('static', filename='img/GitHub-Mark-64px.png') }}"
                  alt="logo github" />
              </a>
            </div>
          </div>
        </div>
      </footer>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    			  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{gmap_api_key}}&callback=initMap"
            async defer></script>
    <script src="https://unpkg.com/easy-scroll" /></script>

  </body>
</html>
